
  <!-- <a href="/productoEnLista"> utilizado para mostrar productos de una listaa-->
  <!-- <a href="/{{this.id}}/modificarLista">  -->
  <!-- <a href="/modificarLista/{{this.id}}"> -->
  <a href="/detalleLista/{{this.id}}">
    <!--utilizado para mostrar pagina para modificar lista -->
    <div class="card">
      <img class="card-img img-responsive" src="http://localhost:3000/images/parejas/pareja1.png" alt="{{this.name}}"
        style="width: 100%">
  
      <div class="card-img-overlay hover-card  ">
  
        <h4 class="top">{{this.name}}</h4>
      </div>
  
    </div>
  </a>