
  <div class="card" >
    <img class="card-img-top" src="http://localhost:3000/images/parejas/pareja1.png" alt="{{this.name}}" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{this.name}}</h4>
     <label for="fecha">Fecha del evento</label>
      <p class="card-text">{{this.fecha}}</p>
      <label for="lugar">Lugar del evento</label>
      <p class="card-text">{{this.lugar}}</p>
      <label for="fecha">Estado de la lista</label>
      <p class="card-text">{{this.estado}}</p>
      <a href="#" class="btn btn-primary stretched-link">Ver lista de bodas</a>
    </div>
  </div>
