<a href="/detalleProducto">
<div class="card">
    <img class="card-img img-responsive" src="http://localhost:3000/images/productos/almohadones.png"
        alt="{{this.nombre}}" style="width: 100%">

    <div class="card-body">
        <h4 class="card-title">{{this.nombre}}</h4>
        <label for="descripcion">Descripcion</label>
        <p class="card-text">{{this.Descripcion}}</p>
        <label for="precio">Precio</label>
        <p class="card-text">{{this.precio}}</p>
        <label for="cantidad">Cantidad</label>
        <p class="card-text">{{this.cantidad}}</p>
        <a href="/productos/" class="btn btn-primary stretched-link">Ver lista de Prodctos</a>
    </div>

</div>
</a>